
src/\.vs/

src/dsnybff\.ServiceModel/obj/

src/dsnybff\.Tests/obj/

src/dsnybff\.Tests/bin/

src/dsnybff\.ServiceModel/bin/

src/dsnybff\.ServiceInterface/obj/

src/dsnybff\.ServiceInterface/bin/

src/dsnybff/obj/

src/dsnybff/bin/
