body {
    padding-top: 210px;
}
@media (min-width: 992px) {
    body {
        padding-top: 144px;
    }
}
h3 {
    font-size: 1.5rem;
}

.nav2{
    top: 46px;
}
.nav3 {
    top: 96px;
}

.list-group-item {
    border-radius: 0 !important;
}

.list-group-h {
    flex-direction: row;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.btn-circle {
    padding: 0px 0px;
    text-align: center;
}



.topics-item {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.topics-item:last-child{
    border-right: 1px solid white;
}
.locations-item {
    width: 72px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 0.77rem;
    line-height: 0.95rem;
}
.locations-item-label {
    padding-top: 3px;
}

.locations-item.is-selected {
    color: #0f0;
}


.flickity-button {
    background: transparent;
    display: none;
}

/* icon color */
.flickity-button-icon {
    fill: white;
}


.flickity-page-dots {
    display: none;
}