body {
    padding-top: 196px;
}
@media (min-width: 992px) {
    body {
        padding-top: 196px;
    }
}
h3 {
    font-size: 1.5rem;
}

.nav2{
    top: 46px;
}
.nav3 {
    top: 92px;
}
.header-bg {
    /*position: relative;*/
    height: 192px;
    background-color: white;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
}
.header-bg-layer {
    background-color: rgba(53, 120, 154, 0.29);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.list-group-item {
    border-radius: 0 !important;
}

.list-group-h {
    flex-direction: row;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-appearance: none;
    margin-left: 11px;
}

.btn-circle {
    padding: 0px 0px;
    text-align: center;
}

.locations-button {
    background-color: white;

}


.topics-item {
    /*border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;*/
    border: none;
}
.topics-item:last-child{
    /*border-right: 1px solid white;*/
}

.locations-item {
    width: 78px;
    font-size: 0.77rem;
    line-height: 0.95rem;
}
.locations-item-label {
    padding-top: 3px;
    color: #ddd;
}

.locations .is-selected  {
    border-bottom: 4px solid #ff6a00;
}
.post-content .is-selected {
}


.flickity-button {
    background: transparent;
    display: none;
}

/* icon color */
.flickity-button-icon {
    fill: white;
}


.locations > .flickity-page-dots {
    display: none;
}

.post-content{
    width: 100%;
}
.pci {
    width: 100%;
}
.post-headerbg {
    background-color: rgba(168, 208, 239, 0.31)
}
.post-location {
}

.post-location > button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-appearance: none;
    border: 1px solid #ccc;
}

.post-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.post-locationname {
    font-size: 0.9rem;
}

.post-feature {

}

@media (min-width: 1000px) {
    .post-lg {
        width: 60%;
    }
}

.post .flickity-page-dots {
    bottom: -18px;
    padding-right: 8px;
    text-align: right;
}
    /* dots are lines */
.post .flickity-page-dots .dot {
    height: 4px;
    width: 36px;
    margin: 4px;
    border-radius: 0;
}